pymupdf>=1.23.9
camelot-py[cv]>=0.11.0
pandas>=2.2.0
pdfplumber
tiktoken
sentence-transformers
faiss-cpu
transformers
accelerate
datasets
accelerate
peft
evaluate
sentencepiece
#pip install torch --index-url https://download.pytorch.org/whl/cpu